.container {
    margin-bottom: 100px;

}

.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #FF136F;
}

.product-cat img {
    width: 100px;

}

.cat-header {
    color: slategray;
    font-size: large;
    margin-bottom: 25px;
}

.cat-1 {
    background-color: orange;
    border-radius: 10px;

}

.cat-2 {
    background-color: tomato;
    border-radius: 10px;

}

.cat-3 {
    background-color: blue;
    border-radius: 10px;
}

.text-color-cat {
    color: white;
    font-weight: 500;
    font-size: x-large;
}



.product-shoe-section {
    padding-top: 20px;
    margin-bottom: 20px;

}

.product-shoe-section h1 {
    color: black;
    font-size: larger;
    font-weight: bold;

}

.product-shoe-section p {
    color: burlywood;
    font-weight: bold;
}

.product-shoe-section-card {


    border-radius: 10px;
}

.card {
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    ;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    color: black;
    font-size: larger;
    font-weight: 500;

}

.card-text {
    color: slategray;
}

.card-body p {
    font-weight: bolder;
    color: black;
}

.footer {
    background-color: tomato;
    border-radius: 10px;
    padding: 55px 55px;
}

.footer h1,
p {
    color: whitesmoke;
    padding-bottom: 10px;




}

.footer h1 {
    font-size: 25px;

}

.footer p {
    font-size: 15px;
}

.email-input {
    border-radius: 10px;
    padding: 27px 50px;
}

.email-button {
    padding: 15px 30px;
    border-radius: 10px;

}